<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, minium-scale=1, maximum-scale=1, initial-scale=1" />
    <link rel="stylesheet" href="/css/style.css" />
    <title>Website</title>
  </head>
  <body>
    <h1>Welcome to Website</h1>

    <img class="image1" src="/img/nodejs.png" alt="nodejs" />

    <script src="/js/main.js"></script>
  </body>
</html>
